@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@200;300;600&display=swap");
* {
  margin-left: 30px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1{
    font-size: 40px;
    color: #424242;
    margin: 30px;
    font-weight:bold;
}
.contactUs{
    margin: 10px;
    width: 70%;
    justify-content: left;
    align-items: center;
}
.inputBox, .description, .submit{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputBox input, .description textarea{
    width: 300px;
    padding: 5px 0;
    font-size: 17px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #b8b8b8;
    margin: 10px 0;
    resize: none;
}
.description textarea{
    width: 100%;
    margin: 30px 0;
    font-size: 15px;
    color: #b8b8b8;
}
.inputBox span{
    position: absolute;
    padding: 5px 0;
    font-size: 17px;
    margin: 10px 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
    color: #606060;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span{
    transform: translateY(-50%);
    font-size: 12px;
}
.submit{
    display:flex;
    justify-content:flex-end;
    bottom: 20px;
    
}
.submit input[type="submit"]{
    width: 150px;
    padding: 8px 0;
    font-size: 16px;
    color:azure;
    background-color: #424242;
    border: none;
    border-radius: 50px;}
